.main
  padding: 10px
  display: grid
  grid-template-columns: 25% 75%
  color: white

  .techtree
    padding: 10px
    background-color: rgba(#2d2d2d, 0.4)
    border-radius: 18px

    h2
      font-size: 1.5em
      margin-bottom: 10px

    ul
      margin-left: 20px

      li
        padding: 10px
        list-style-type: none
        transition: background-color .1s ease-in-out

        a.active
          background-color: rgba(255,255,255,0.4)

        &:hover
          background-color: rgba(255,255,255,0.4)
          cursor: pointer


  .content
    padding: 10px
