<article class="skills">
  <section class="preface">
    <h1>My Skillset</h1>
    <p>In this section I try to display my skillset in an interactive manner, allowing you to gain insight into my
      abilities and what I have done with these capabilities. You can click the different sections below, being
      <strong>Languages</strong>, <strong>Frontend</strong>, <strong>Backend</strong>, <strong>Data Management</strong>
      and <strong>Others</strong>, to find out more about what technologies I have been learning and building
      applications with, and which other skills I picked up along the way.
    </p>
  </section>
  <section class="heading">
    <button routerLink="languages" routerLinkActive="active">Languages</button>
    <button routerLink="frontend" routerLinkActive="active">Frontend</button>
    <button routerLink="backend" routerLinkActive="active">Backend</button>
    <button routerLink="data-management" routerLinkActive="active">Data Management</button>
    <button routerLink="others" routerLinkActive="active">Others</button>
  </section>
  <hr>
  <section class="skill-type-content">
    <h1 *ngIf="this.router.url === '/skills'">Click one of the buttons!</h1>
    <router-outlet></router-outlet>
  </section>
</article>
