<article class="skills">
  <section class="preface">
    <h1>My Skillset</h1>
    <p>In this section I try to display my skillset in an interactive manner, allowing you to gain insight into my
      abilities and what I have done with these capabilities. You can click the different sections below, being <strong>
      Frontend</strong>, <strong>Backend</strong>, <strong>Data Management</strong> and <strong>Others</strong>, to find
      out more about what technologies I have been learning and building applications with, and which other skills I picked
      up along the way.
    </p>
  </section>
  <section class="heading">
    <button data-skill="frontend" (click)="skillEvent($event.target)">Frontend</button>
    <button data-skill="backend" (click)="skillEvent($event.target)">Backend</button>
    <button data-skill="data-management" (click)="skillEvent($event.target)">Data Management</button>
    <button data-skill="others" (click)="skillEvent($event.target)">Others</button>
  </section>
  <hr>
  <section class="skill-type-content">
    <app-frontend *ngIf="selectedSkill === skillType.Frontend"></app-frontend>
    <app-backend *ngIf="selectedSkill === skillType.Backend"></app-backend>
    <app-data-management *ngIf="selectedSkill === skillType.Data_Management"></app-data-management>
    <app-others *ngIf="selectedSkill === skillType.Others"></app-others>
  </section>
</article>
