<article class="aspirations">
  <section class="roadmap">
    <h1 class="title">My "roadmap"</h1>
    <section class="textcontainer">
      <section>
        <p>
          My interest to study Computer Science sparked from a very young age. The humiliating anecdote my parents will often
          remind me of is how I managed to install one of the games I used to play on the pc at home, on one of my schools pc's,
          at the age of 6. But humiliating anecdotes and my gaming interests aside, my father was the one who made me pick Computer
          Science as my study of choice out of high school, since he worked in the field at the time, and I found his
          work very interesting.
        </p>
        <p>
          My first year, studying Computer Science and Engineering at Delft University of Technology did not go according to
          expectations. I was not at ease, and wasn't doing what I thought I was going to be doing. I found out that I
          get a lot of satisfaction from learning the skill of programming, and applying that skill, instead of studying about Computer
          Science as a topic, and researching the field. This was when I decided to switch University, and started studying
          in Leiden, where I am now very much enjoying what I am learning and capable of!
        </p>
        <p>
          Due to my previous knowledge and experience acquired from the Computer Science study in Delft, my first year
          was (mostly) a breeze. Therefore I decided to focus more on finding a practical job. By this time I had already been working
          at my local computerstore for quite a while, and therefore could use this experience in not just my study but also other jobs.
          Therefore I decided to work for Studentaanhuis, which focuses on helping clients with software related tasks. I
          once again expanded my view and knowledge on software and hardware in practice.
        </p>
      </section>
      <section class="img-wrapper">
        <a href="https://roadmap.sh/frontend"><img class="zoom-map right" src="../../../assets/img/All%20the%20stacks%20of%20frontend.png" alt="Photo of the roadmap that I use to guide me for frontend technologies"></a>
        <figcaption><em>Frontend roadmap from <a href="https://roadmap.sh/frontend">roadmap.sh</a></em></figcaption>
      </section>

      <section class="img-wrapper">
        <a href="https://roadmap.sh/backend"><img class="zoom-map left" src="../../../assets/img/All%20the%20stacks%20of%20backend.png" alt="Photo of the roadmap that I use to guide me for backend technologies"></a>
        <figcaption><em>Backend roadmap from <a href="https://roadmap.sh/backend">roadmap.sh</a></em></figcaption>
      </section>
      <section>
        <p>
          Ever since I completed my first year, and chose the Software Engineering track, I have been really invested in
          learning as much as possible about the field of Computer Science, but also about where I would like to eventually
          put my skill to use. Since my second year I am working for the University as a student assistant, and finding
          out what it is like to actually teach the subjects I've studied for the past year. This made me discover that I really
          enjoy sharing my knowledge with others, and also that I think that working in education is really quite noble,
          as it brings more and more students up to the expected level of knowledge of the job market, and eventually
          provides society with more and more development in IT.
        </p>
        <p>
          The field of education is a very good example of a field where I think my skills can be put to good use. There
          are also other fields where my interest has manifested, for example Research Bodies like CERN and NASA (or ESA
          for that matter), but also governmental facilities in the Netherlands, like for example the police force. I hope
          to see myself working for one of these institutes in the future.
        </p>
        <p>
          Due to the constantly varying market, I am trying to become familliar with as many current and past technologies
          as possible. This requires an increasingly more difficult amount of planning, since the list of new technologies
          just keeps expanding. I often look back at my progress by following the two roadmaps you can see here. I find them
          very clear and guiding, and they form part of my own roadmap that I am following to become a better Full Stack
          Developer. A further manifestation of my skills is shown under the <a routerLink="/skills">skills</a> section, where I show where
          I have applied my gained knowledge.
        </p>
      </section>
    </section>
  </section>
</article>
