<section class="main">
  <section class="techtree">
    <h2>Sections</h2>
    <ul>
      <li routerLink="java" routerLinkActive="active"><a>Java</a></li>
      <li routerLink="python" routerLinkActive="active"><a>Python</a></li>
      <li routerLink="javatypescript" routerLinkActive="active"><a>Javascript/Typescript</a></li>
      <li routerLink="c#" routerLinkActive="active"><a>C#</a></li>
    </ul>
  </section>
  <section class="content">
    <router-outlet></router-outlet>
  </section>
</section>
