<h3>Node.JS with Express</h3>
<section class="node-content">
  <p>
    Node was the first backend/rest-api library I used during my studies to build a small api. I have worked with it
    since mostly because of its simplicity and its modularity. Because of this I am very familliar with problems and
    complications that might occur. I have worked with many different api configurations, but always implemented
    express as part of the api. Besides that, I have connected the api to RabbitMQ and PostgreSQL and Mongo databases.
    I feel extremely confortable with this library and will be using it extensively in the future.
  </p>
</section>
