<article class="home">
  <section class="first-look">
    <h1 class="title">Full Stack Developer - Tech-Savvy - Dedicated - Reliable</h1>
  </section>
  <section class="aboutme">
    <img src="../../../assets/img/portrait.jpg" alt="A photo of me!">
    <h1 class="title"> About me </h1>
    <section class="textcontainer">
      <p>
        My name is Daan Sneep, I am {{ age }} years old and am currently living in Southern Holland in the <em>Netherlands</em>.
        I'm currently studying Computer Science at the <a href="https://www.hsleiden.nl/">University of Applied Sciences
        in Leiden</a>, to become a <strong>Full Stack Developer</strong>. So far I have learned a lot about many current
        technologies, and am looking to learn as many as possible to appeal to the varying job market.
      </p>
      <img src="../../../assets/img/team.jpg" alt="Foto van het team van de groene computershop uit 2019">
    </section>
  </section>
</article>
