<section class="main">
  <section class="docker">
    <h3>Docker</h3>
    <p>
      I used docker for containerising entire applications and know how to deploy many different types of apps with
      docker. Besides that I can also orchestrate swarms with the help of docker.
    </p>
    <progress id="docker" value="5" max="5"></progress>
  </section>
  <section class="waterfall">
    <h3>Waterfall</h3>
    <p>
      I know what waterfall is and why not to use this process. I therefore also much prefer a scrum workflow over a
      waterfall one :).
    </p>
    <progress id="waterfall" value="4" max="5"></progress>
  </section>
  <section class="scrum">
    <h3>Scrum</h3>
    <p>
      I have done several succesful projects using the scrum methodoligy. In both instances I was the (unofficial) scrum
      master. According to feedback from my teammates I provided clarity in the process and was a good supporter of the
      project.
    </p>
    <progress id="scrum" value="4" max="5"></progress>
  </section>
  <section class="rup">
    <h3>Rational Unified Process</h3>
    <p>
      I used RUP in a disclosed project to build up the required documentation for a large application. Currently have
      only experienced the Inception and Elaboration phase and am currently in the construction phase.
    </p>
    <progress id="rup" value="4" max="5"></progress>
  </section>
</section>
