<h3 class="title">ASP .NET Core</h3>
<section class="dotnet-content">
  <section class="dotnet-paragraphs">
    <p>
      .NET was my first encounter with a full feature backend framework. I learned it via Udemy and during th frameworks
      course during my studies. I used it to build a backend for my PcPartPicker application. I got to use a bunch of
      techniques that were unknown to me at the time, like ORM via EntityFramework and SingalR for realtime client signaling
      This was also the first time writing a program in C#. Besides that I also learned some design patterns, being CQRS and
      the mediat(o)r pattern. The project I am talking about can be found on my github page, specifically
      <strong><a href="https://github.com/daansneep/PCPartPicker-React-.NETCORE">here</a></strong>.
    </p>
    <p>
      Afterwards I decided that I wanted to use .NET in more of my applications, mostly to practice, but also because
      I really liked working with the framework. I therefore used it in a project (which will have to remain disclosed
      for the moment) where I had to implement a worker manager, which had to be a consumer for a rest-api. It therefore
      involved integration with RabbitMQ. It was also a manager for docker containers. It had to build images, create,
      start and stop containers whilest updating their status in a SQL database.

      After these projects I feel very confortable writing quality software in .NET Core.
    </p>
  </section>
  <section class="dotnet-images">
    <img src="https://udemy-certificate.s3.amazonaws.com/image/UC-0b8742f6-a03e-421a-833c-78fc4f79ae17.jpg?v=1611066695000" alt="My Udemy .NET Core certificate">
    <img src="https://udemy-certificate.s3.amazonaws.com/image/UC-3d47486e-acb6-4bed-b1b2-787e3d110aeb.jpg?v=1610881402000" alt="My Udemy C# Advanced Topics certificate">
  </section>
</section>


