<div class="contact">
  <div class="transition"></div>
  <div class="contactinfo">
    <div class="text">
      <h1>Contact info</h1>
      <p>Want to contact me? Feel free to do so, either by sending me an <a href="mailto:daansneep@hotmail.nl">email</a> or reaching out to me on LinkedIn!</p>
    </div>
    <div class="socials">
      <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="dark" data-type="VERTICAL" data-vanity="daan-sneep" data-version="v1">
        <a class="badge-base__link LI-simple-link" href="https://nl.linkedin.com/in/daan-sneep?trk=profile-badge"></a>
      </div>
    </div>
  </div>
  <div class="bottom"></div>
</div>
