<h3>React</h3>
<section class="react-content">
  <p>
    I had started learning react after I had finished two big projects that were written in angular. There were
    advantages when starting to learn react because of this, but there were also some downsides. It was useful to have
    worked with a frontend framework before, it made me aware of possible problems that I could also encounter with
    react which made the learning process somewhat easier. But because angular was such a huge framework and relatively
    speaking react such a minimal framework, it turned out to be quite difficult to pick up. I eventually learned how
    to build a responsive <strong><a href="https://github.com/daansneep/PCPartPicker-React-.NETCORE">webapp</a></strong>
    with react and mobx as a state manager.
  </p>
  <img src="https://udemy-certificate.s3.amazonaws.com/image/UC-0b8742f6-a03e-421a-833c-78fc4f79ae17.jpg?v=1611066695000" alt="Udemy certificate for React">
</section>
<progress value="3" max="5"></progress>
