.title-photo {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  height: 82vh;
  padding-bottom: 75px;

  .photo > img {
    max-height: 400px;
    height: 100%;
    border-radius: 50px;
  }

  .title {
    margin-left: 30px;
  }
}

.arrow {
  display: flex;
  justify-content: center;
  height: 8vh;
  background: linear-gradient(to bottom, #252936, #1b1d23);

  p {
    transform: rotate(180deg);
    font-size: 4rem;
    font-weight: bold;
    color: #4d5363;
  }

  &:hover {
    cursor: pointer;
    background: linear-gradient(to bottom, #252936, #1e1e28, #1b1d23);
  }
}

@media only screen and (max-width: 1200px) {
  .title-photo {
    margin: auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    row-gap: 25px;
    padding: 25px 0;
    justify-items: center;
    align-content: center;

    .photo > img {
      max-height: 250px;
    }

    .title {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-left: 0;

      h1, i {
        text-align: center;
      }

      h1 {
        font-size: 2rem;
      }
    }
  }
}
