<h3>Angular</h3>
<section class="angular-content">
  <p>
    Angular was one of the first large frontend frameworks I learned during my studies. It has now become the framework
    with which I am most comfortable writing frontend code. As you might be able to tell by the source code of this page,
    this webapp is also written with angular. I have also done some other projects with angular like building a small but
    OWASP compliant <strong><a href="https://github.com/daansneep/Angular-Webshop-Frontend">webshop</a></strong>, as well
    as a decision tree application (currently private).
  </p>
  <img src="https://udemy-certificate.s3.amazonaws.com/image/UC-08cbda7d-4c34-41f0-a19f-263749a6f314.jpg?v=1607530470000" alt="Udemy certificate for Angular course">
</section>

<progress value="4" max="5"></progress>
