/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

h1, h2, h3, h4, p, a, q, i {
  color: white;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

a {
  font-weight: bold;
}

q {
  font-style: italic;
}

.base-content {
  margin: auto;
  width: 95%;
  max-width: 1200px;
}

.alternate-color-wrapper {
  background-color: #1b1d23;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: #1c2028;
}

::-webkit-scrollbar-track {
  background-color: #252936;
}
