<section class="main">
  <section class="sql">
    <h3>PostgreSQL</h3>
    <p>
      I used Postgres for all my relational data solutions. After putting a lot of my time into data modeling I found
      working with postgres easy and intuitive. It was also very easy to connect my other applications to postgres.
    </p>
    <progress id="sql" value="4" max="5"></progress>
  </section>
  <section class="nosql">
    <h3>MongoDB</h3>
    <p>
      I used Mongo as my first nosql document based database for a disclosed project where I had a vast amount of
      unrelated data. I connected this database to my rest-api and the worker manager and found it to be extremely
      quick.
    </p>
    <progress id="nosql" value="3" max="5"></progress>
  </section>
</section>
